@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  user-select: none;
} */

.no-select {
  user-select: none;
}

::selection {
  background-color: rgb(48, 48, 48);
  color: white;
}
 
@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%; */
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 6.5%;
    --foreground: 210 40% 98%;
 
    --card: 0 0% 8%;
    --card-foreground: 210 40% 98%;
 
    --popover: 0 0% 12%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 0 0% 14%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 0 0% 17.5%;
    --muted-foreground: 0 0% 60%;
 
    --accent: 0 0% 9%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 0 0% 11%;
    --input: 0 0% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --tooltip:0 0% 12%;

    --brand: 351 91% 59%;
    --radius: 0.5rem;

  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans;
  }
}

html {
  scroll-behavior: smooth;
}

.progress {
  animation: progress 1s infinite linear;
}

.left-right {
    transform-origin: 0% 50%;
}
    @keyframes progress {
    0% {
        transform:  translateX(0) scaleX(0);
    }
    40% {
        transform:  translateX(0) scaleX(0.4);
    }
    100% {
        transform:  translateX(100%) scaleX(0.5);
    }
}

.hide-password-toggle::-ms-reveal,
.hide-password-toggle::-ms-clear {
  display: none;
  visibility: hidden;
  pointer-events: none;
}


/* Para el scroll vertical */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Color del thumb (barra deslizadora) */
  border-radius: 999px;
}


::-webkit-scrollbar-thumb:horizontal {
  background-color: #333;
  border-radius: 999px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilo para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #272727;
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
}

.no-code-style {
  font-family: inherit !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
}